body {
    margin: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#input-box {
    font-size: inherit;
    font-family: inherit;
    resize: none;
    width: 80%;
    min-width: 360px;
    max-width: 800px;
    margin-top: 10px;
}
#message-box {
    width: 80%;
    min-width: 360px;
    max-width: 800px;
    max-height: 70vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
#message-box > .message-group {
    display: flex;
    flex-direction: column;
    margin: 3px 20px;
    position: relative;
}
#message-box > .message-group:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: -10px;
    border-width: 12px 15px 0 0;
    border-color: transparent #CCC;
    border-style: solid;
    display: block;
    width: 0;
}
#message-box > .message-group.me:after {
    left: unset;
    right: -10px;
    border-width: 12px 0 0 15px;
    border-color: transparent #13C;
}
#message-box > .message-group > .message {
    border-radius: 14px;
    background-color: #CCC;
    padding: 5px 10px;
    width: fit-content;
    overflow-wrap: anywhere;
}
#message-box > .message-group.me > .message {
    float: right;
    background-color: #13C;
    color: white;
    align-self: end;
}